* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

div {
  margin: 2rem 0;
}

button {
  padding: 7px 15px;
  margin-right: 10px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
}

#main-container {
  margin: 0 auto;
  max-width: 1180px;
}

.container {
  border: 3px dotted #b0b0b0;
  padding: 1rem;
}

.selection, .user-input {
  width: 100%;
}

.selection {
  background-color: #f0f0f0;
  border: 1px solid grey;
}


.win {
  color: green;
  font-size: 2rem;
}

.lose {
  color: red;
  font-size: 2rem;
}

.play-button {
  background-color: rgb(58, 202, 207);
}

.reset {
  background-color: rgb(255, 230, 0);
}